body{
font-family:Arial;
margin:40px;
background:#f4f6f8;
}

h1{
color:#2c3e50;
}

#buscar{
width:300px;
padding:10px;
margin-bottom:20px;
}

.carpeta{
font-weight:bold;
margin-top:10px;
}

.archivo{
margin-left:20px;
}

a{
text-decoration:none;
color:#2980b9;
}

a:hover{
text-decoration:underline;
}